@import "reset";
@import "mixins";


/*****************************************************************************/
/* Global Styles                                                             */
/*****************************************************************************/
@mixin lr_padding {
	padding-left: 5%;
	// padding-right: 5%;
	padding-top: 0;
	padding-bottom: 30px;
}

$bgcolor: #efefef;
$linkcolor: #7baac8;

@font-face {
	font-family: 'Glyphicons Halflings';
 	src: url('../fonts/glyphicons-halflings-regular.eot');
 	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  		 url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg'), 
  		 url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
  		 url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
}
html {
	height: 100%;
}
body {
	background: $bgcolor;
	color: #555;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	min-width: 1100px;
	@include lr_padding;
}
header {
	background: $bgcolor;
	// background: white;
	min-width: 1200px;
	width: 100%;
	padding: 15px 0 15px 0px;
	position: fixed;
	z-index: 99;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;

	span { color: #999; line-height: 1.5em; }
	p { padding-top: 10px; line-height: 1.5em; }
	div { display: inline-block; }

	.col-left { width: 530px; padding-left: 30px; }
	.col-right { 
		width: 550px;
		margin-left: 8px;
		vertical-align: top;
		
		span {
			display: block;
			padding-left: 10px;
			width: 470px;
			float: right;

			p { 
				margin-top: 24px; 
				padding: 0; 
			}
		} 
	}

	a {
		// border-bottom: 1px solid rgba(52,73,94,0.4);
		-webkit-transition: background-color 0.5s, border-color 0.5s, color 0.5s, border-radius 0.25s;
		   -moz-transition: background-color 0.5s, border-color 0.5s, color 0.5s, border-radius 0.25s;
		        transition: background-color 0.5s, border-color 0.5s, color 0.5s, border-radius 0.25s;
	}
	a, a:hover, a:active, a:visited {
		position: relative;
		// display: inline-block;
		color: #65A5D1;
		text-decoration: none;
		padding-left: 2px;
		padding-bottom: 2px;
		padding-top: 2px;
		padding-right: 2px;
		margin-left: -2px;
		margin-right: -2px;
		// border-bottom: 1px dashed rgba(96,132,157,0);
	}
	a:hover {
		background: #b1d1e7; // to work with IE
		// background: rgba(101,165,209,0.5);
		color: #fff;
		@include rounded(3px);
		// border-bottom: 1px dashed rgba(96,132,157,1);
	}
}
h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	color: #60849d;
}
div#formcontainer {
	display: inline-block;
	width: 530px;
	padding: 30px;
	// margin-top: 83px;
	margin-top: 245px;
	background: #fff;
	@include shadow(1px, 2px, 4px, rgba(220,220,220,0.5));

	-webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

	a {
		color: $linkcolor;
		text-decoration: none;
		border-bottom: 1px dotted $linkcolor;
		display: inline-block;
		line-height: 1.1em;
		margin-bottom: 0.1em;

		&:visited {
			color: $linkcolor;
		}
		&:hover, &:active {
			color: #41799c;
			text-decoration: none;
			border-bottom: 1px solid #41799c;
			display: inline-block;
			line-height: 1.1em;
			margin-bottom: 0.1em;
		}
	}
	a.imglink {
		border: 0;
	}
}
strong {
	font-weight: bold;
}

p {
	line-height: 1.5em;
	margin-bottom: 10px;
	color: #666;
}
p#eeo {
	margin-top: 2em;
	margin-bottom: 0;
}
h2 {
	font-size: 1.3em;
	font-weight: 700;
	margin-bottom: 12px;
}
h2.attachments {
	margin-top: 1em;
	margin-bottom: 6px;
}
label {
	font-size: 1.2em;
	margin-bottom: 0.25em;
	margin-top: 0.75em;
	display: block;
	color: #666;
	line-height: 1.2em;
}
span.addmore {
	display: inline-block;
	text-align: left;
	margin-left: 1em;
	vertical-align: bottom;
	margin-bottom: 5px;
}
span.input-group-hack {
	position: relative;
	top: -6px;
	margin-bottom: 0px;
}
span.attachments-hack {
	vertical-align: top;
	margin-top: 6px;
	top: 8px;
}
span.labellink, span.labelwarning {
	font-size: 0.8em;
	margin-left: 0.25em;
	display: inline-block;
	vertical-align: 10%;
}
span.labelwarning {
	display: none;
	color: #a94442;
}
section {
	margin-top: 2em;
	padding-top: 0.5em;
	border-top: 1px solid #eee;
}
section#header {
	font-size: 1.2em;
	border: 0;
	margin: 0;
	padding: 0;

	label	{
		color: #999;
		font-size: 1em;
		margin: 0;
		margin-bottom: 3px;
	}
	.title {
		font-size: 1.5em;
		font-weight: 300;
		line-height: 1.5em;
	}
	.position {
		font-weight: 700;
	}
	.location {
		line-height: 1.5em;
	}
}
section#intro {
	border: 0;
	position: relative;
}
section#submit {
	padding-top: 10px; 
	padding-bottom: 40px;

	button, p {
		display: inline-block;
		vertical-align: middle;
	}
	button {
		width: 44%;
		height: 40px;
	}
	p {
		width: 56%;
		margin: 0;
		padding-left: 5%;
	}
}
.attachment-upload {
	width: 100%;
}
.previewimg {
	border: 1px solid #ddd;
	display: block;
	margin: 0px auto 4px;
}
.upload-group {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	margin-left: 2%;
	position: relative;
}
.upload-group:first-child {
	margin-left: 0;
}
.upload-preview {
	display: none;
	width: 100%;
	text-align: center;
}
#resume-progress-bar, #coverletter-progress-bar {
	width: 0%;
	-webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

#resume-preview, #coverletter-preview {
	display: none;

	span {
		font-size: 0.9em;
		display: block;
		padding: 1px 0 5px 0;
		color: #3c763d;
	}
}

footer {
	font-size: 0.9em;
	margin-top: 150px;
	padding-left: 30px;
	color: #ababab;

	span { color: #ddd; }
}

div.input-group-wrapper {
	width: 58%;
	display: inline-block;
	position: relative;
	vertical-align: bottom;
}
.extrarow {
	margin-top: 6px;
}
#applicant-address-street {
	height: 3.25em;
}
#applicant-address-city {
	width: 66%;
}
#applicant-address-zip {
	width: 32%;
	float: right;
}
#linkedin-field {
	display: none;
}
.corner {
	position: absolute;
	width: 15px;
	height: 15px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	z-index: 3;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
			    transform: rotate(45deg);
}
#linkedin-tooltip {
	display: none;
	position: absolute;
	top: 65px;
	left: 205px;
	width: 265px;
	border: 1px solid #ddd;
	background: #fff;
	font-size: 0.9em;
	color: #999;
	line-height: 1.4em;
	padding: 8px 10px 10px 10px;
	z-index: 2;
	@include shadow(2px, 2px, 1px, rgba(220,220,220,0.5));

	.corner {
		left: -8px;
		top: 25px;
	}
}
.upload-tooltip {
	display: none;
	position: absolute;
	top: -82px;
	left: -15px;
	width: 170px;
	border: 1px solid #ddd;
	background: #fff;
	font-size: 0.9em;
	color: #999;
	line-height: 1.4em;
	padding: 8px 10px 10px 10px;
	z-index: 2;
	@include shadow(2px, 2px, 1px, rgba(220,220,220,0.5));

	.corner {
		left: 74px;
		top: 59px;
		-webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
				    transform: rotate(-45deg);
	}
}
#race-moreinfo {
	display: none;
	position: absolute;
	top: -190px;
	left: 115px;
	width: 430px;
	border: 1px solid #ddd;
	background: #fff;
	line-height: 1.4em;
	padding: 12px;
	padding-bottom: 6px;
	z-index: 2;
	@include shadow(2px, 2px, 1px, rgba(220,220,220,0.5));

	.corner {
		left: -8px;
		top: 190px;
	}
}
#veteran-moreinfo {
	display: none;
	position: absolute;
	top: -190px;
	left: 182px;
	width: 425px;
	border: 1px solid #ddd;
	background: #fff;
	line-height: 1.4em;
	padding: 12px;
	padding-bottom: 6px;
	z-index: 2;
	@include shadow(2px, 2px, 1px, rgba(220,220,220,0.5));

	.corner {
		left: -8px;
		top: 190px;
	}
}
#datepicker {
	display: none;
	position: absolute;
	top: 64px;
	border: 1px solid #ddd;
	background: #fff;
	z-index: 3;
	@include shadow(2px, 2px, 1px, rgba(220,220,220,0.5));
}

/* NOTE ALIGNMENT */
div#notes {
	display: inline-block;
	vertical-align: top;
	// margin-top: 83px;
	margin-top: 245px;
	position: relative;
	z-index: 1;
	-webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#notes p, .contact {
	color: #ababab;
	font-size: 0.9em;
	position: absolute;
	// padding-left: 130px; 
	margin-left: 8px;
	// margin-right: 5%;
	border-top: 1px solid #ddd;
	width: 550px;
	line-height: 1.4em;

	span {
		display: block;
		margin-top: -16px;
		padding-left: 10px;
		background: $bgcolor;
		width: 470px;
		float: right;
	}
}
p#note1 { top: 70px; span { margin-top: -25px; } }
p#note2 { top: 200px; span { margin-top: -25px; } }
p#note3 { top: 350px; span { margin-top: -25px; } }
p#note4 { top: 415px; }
p#note5 { top: 475px; span { margin-top: -25px; } }
p#note6 { top: 540px; span { margin-top: -25px; } }
p#note7 { top: 595px; }
p#note8 { top: 665px; }
p#note9 { top: 730px; display: none; span { margin-top: -30px; } }
p#note10 { top: 735px; display: none; span { margin-top: -25px; } }
p#note11 { top: 915px; span { margin-top: -25px; } }
p#note12 { top: 1000px; }
p#note13 { top: 1070px; }
p#note14 { top: 1225px; span { margin-top: -25px; } }
p#note15 { top: 1370px; span { margin-top: -30px; } }

.contact {
	border: 0;
	top: 1627px;
}



/* BOOTSTRAP OVERRIDES */
.form-group {
	margin: 0;
	position: relative;
}
.form-control {
  display: inline-block;
  width: 58%;
  height: 30px;
  padding: 2px 6px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input-group {
	width: 100%;
}

.input-group-addon {
	border-radius: 2px;
	font-size: 13px;
	padding: 0 6px;
}
.form-control:-moz-placeholder {
  color: #bbb;
}

.form-control::-moz-placeholder {
  color: #bbb;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #bbb;
}

.form-control::-webkit-input-placeholder {
  color: #bbb;
}

.progress {
	display: none;
	height: 15px;
	margin: 0;
	position: relative;
	top: 7px;
}